@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700;800&display=swap');

@import "tailwindcss";
